*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

bin/
gen/
out/

*.class

# Built application files
*.apk
*.ap_
*.aab

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md



# Files for the ART/Dalvik VM
*.dex
